bin/

.gjc/
.kat/
.gaori/*
!.gaori/tester.yaml
!.gaori/tester/
.gaori/tester/*
!.gaori/tester/rules/
.gaori/tester/rules/*
!.gaori/tester/rules/*.yaml
/.mulgae/*
!/.mulgae/config.yaml
/.codex/
.codegraph/
.omx/
.omc/
.external-review-sidecar/

.DS_Store
